<div class="modal fade" id="weaponModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="weaponDialogLabel">Weapons</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="defWeapon">
                        <div id="weaponInputs" class="form-group col-md-12">
                            <label for="weapons">Type:</label>
                            <select class="form-control spaced-bottom" id="weapons"></select>
                            <label for="weaponID">Weapon ID:</label>
                            <input type="text" class="form-control spaced-bottom" id="weaponID" required/>
                            <label for="sensorIDs">Sensor IDs:</label>
                            <input type="text" class="form-control spaced-bottom" id="sensorIDs" required/>
                            <label for="weaponFixed">Fixed:</label>
                            <input type="checkbox" class="form-control spaced-bottom" id="weaponFixed" required/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="wsSubmit('weapon')">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>