<!DOCTYPE html>
<html lang="en" ng-app="athena">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Athena</title>

    <style>
        @import url(../public/stylesheets/bootstrap.min.css);
        @import url(../public/stylesheets/cubism.css);
        @import url(../public/javascripts/Cesium/Widgets/widgets.css);
        @import url(../public/javascripts/milstd2525/renderer.css);
        @import url(../public/stylesheets/style.css);
        @import url(../public/stylesheets/font.css);
    </style>
</head>
<body id="body" ui-view="body">
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../public/javascripts/Angular/angular-route.min.js"></script>
    <script src="../public/javascripts/Angular/ui-bootstrap-tpls-0.14.2.min.js"></script>

    <script src="athena.module.js"></script>
    <script src="header/index.js"></script>
    <script src="sidebar/index.js"></script>
    <script src="home/index.js"></script>
</body>
</html>
