<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version (or Chrome Frame if pre-IE11). -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Vapor</title>

    <script src="../public/javascripts/jquery-2.1.4.min.js"></script>
    <script src="../public/javascripts/d3/d3.min.js" type="text/javascript"></script>
    <script src="../public/javascripts/d3/hexbin.js" type="text/javascript"></script>
    <script src="../public/javascripts/cubism/cubism.v1.min.js" type="text/javascript"></script>
    <script src="../public/javascripts/socket.io.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>

    <style>
        @import url(../public/stylesheets/bootstrap.min.css);
        @import url(../public/stylesheets/cubism.css);
        @import url(../public/javascripts/Cesium/Widgets/widgets.css);
        @import url(../public/javascripts/milstd2525/renderer.css);
        @import url(../public/stylesheets/style.css);
        @import url(../public/stylesheets/font.css);
    </style>
    <!--link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'-->
</head>
<body onload="start()" id="body" ng-controller="indexController">
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
<div id="hidden" style="display: none;"></div>
<div id="cesiumContainer"></div>
<div id="scOverlay"></div>
<div id="baOne" class="backAng"></div>
<!--div id="baTwo" class="backAng"></div-->
<!--div id="hidden" style="display: none;"/-->
<div id="menuCont">
    <img id="mainLogo" src="../public/images/vaporLogo.svg" />
</div>
<div id="menu">
    <ul>
        <li class="dropdown">
            <a href="#" id="fileButton" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                File
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="fileButton">
                <li><a href="#" id="openScenario" onclick="openScenario();">Open Scenario</a></li>
                <li><a href="#" id="loadFile" onclick="importFile();">Import File</a></li>
                <li><a href="#" id="saveScenario" onclick="saveScenario();">Save Scenario</a></li>
                <li><a href="#" id="clearScenario" data-toggle="modal" data-target="#clearConfirmModal">Clear Scenario</a></li>
                <li role="separator" class="bb divider"></li>
                <li><a href="#" id="refreshData" onclick="refreshData();">Refresh Current</a></li>
                <li><a href="#" id="screenCapture" onclick="screenshotDiag();">Screen Capture</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" id="createButton" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Create
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="fileButton">
                <li><a href="#" id="createSensor" onclick="createModal('sensor');">Sensors</a></li>
                <li><a href="#" id="createWeapon" onclick="createModal('weapon');">Weapons</a></li>
                <li><a href="#" id="createAsset" onclick="createModal('asset');">Assets</a></li>
            </ul>
        </li>
        <!--li><a href="javascript:;" class ="bl nondd" id="pause" onclick="openScenario();">PAUSE</a></li-->
    </ul>
</div>
<div class="modal fade" id="clearConfirmModal" tabindex="-1" role="dialog" aria-labelledby="clearConfirmLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="clearConfirmLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to clear all data? Unsaved changes will be lost.</h4>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="newScenario()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="openDialogLabel">Load Scenario</h4>
            </div>
            <div class="modal-body">
                <!--div class="row">
                  <div class="col-md-12 col-md-offset-3">
                    <h4 class="open-dialog">Load Scenario</h4>
                  </div>
                </div-->
                <div class="row">
                    <div class="col-md-12">
                        <select class="open-dialog open-dialog-select" id="scenarios" size="0"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="loadScenario()">Load</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="importDialogLabel">Import File</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <p>Select one or multiple files to load.</p>
                            <input type="file" id="files" name="files[]" size="40" multiple required/>
                            <div id="lFOutput">
                                <div id="fileNames"></div>
                                <div id="fileTypes"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="loadFile()">Import</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sensorModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="sensorDialogLabel">Sensors</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="defRadar">
                        <div id="sensorInputs" class="form-group col-md-12">
                            <label for="sensors">Type:</label>
                            <select class="form-control spaced-bottom" id="sensors"></select>
                            <label for="sensorID">Sensor ID:</label>
                            <input type="text" class="form-control spaced-bottom" id="sensorID" required/>
                            <label for="weaponIDs">Weapon IDs:</label>
                            <input type="text" class="form-control spaced-bottom" id="weaponIDs" required/>
                            <label for="KFactorClass">KFactorClass:</label>
                            <input type="text" class="form-control spaced-bottom" id="KFactorClass" required/>
                            <label for="KFactorType">KFactorType:</label>
                            <input type="text" class="form-control spaced-bottom" id="KFactorType" required/>
                            <label for="KFactorID">KFactorID:</label>
                            <input type="text" class="form-control spaced-bottom" id="KFactorID" required/>
                            <label for="sensorFixed">Fixed:</label>
                            <input type="checkbox" class="form-control spaced-bottom" id="sensorFixed" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="wsSubmit('sensor')">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="weaponModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="weaponDialogLabel">Weapons</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="defWeapon">
                        <div id="weaponInputs" class="form-group col-md-12">
                            <label for="sensors">Type:</label>
                            <select class="form-control spaced-bottom" id="weapons"></select>
                            <label for="weaponID">Weapon ID:</label>
                            <input type="text" class="form-control spaced-bottom" id="weaponID" required/>
                            <label for="sensorIDs">Sensor IDs:</label>
                            <input type="text" class="form-control spaced-bottom" id="sensorIDs" required/>
                            <label for="weaponFixed">Fixed:</label>
                            <input type="checkbox" class="form-control spaced-bottom" id="weaponFixed" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="wsSubmit('weapon')">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="assetModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="assetDialogLabel">Assets</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="defAsset">
                        <div id="assetInputs" class="form-group col-md-12">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control spaced-bottom" id="name" size="30" required/>
                            <label for="owner">Affiliation:</label>
                            <select class="form-control spaced-bottom" id="owner">
                                <option value="FRIEND">Friend</option>
                                <option value="HOSTILE">Hostile</option>
                            </select>
                            <label for="valExp">Value:</label>
                            <input type="text" class="form-control spaced-bottom" id="valExp" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="saveDialog">
    <div class="bdrCont">
        <form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-md-offset-3">
                        <h4 class="open-dialog">Scenario Name</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="scenarioName" size="40" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="open-dialog btn btn-default" onclick="saveFile()">Save</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="open-dialog btn btn-default" onclick="document.getElementById('saveDialog').style.display = 'none';">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="leftHide" style="left: -22.75em">
    <div id="tabContainer">
        <div id="tabs">
            <ul>
                <li id="tabHeader_1" class="bl">Prioritization</li>
                <li id="tabHeader_2" class="bl">Scene</li>
            </ul>
        </div>
        <div id="tabscontent">
            <div class="tabpage" id="tabpage_1">
                <div id="leftBar">
                    <h4>Track Prioritization</h4>
                    <div class="bdrCont" id="trackPList">
                    </div>
                    <button class="btn btn-default" type="button" onclick="vaporReturn()">Update</button>
                </div>
            </div>
            <div class="tabpage" id="tabpage_2">
                <div id="leftBar">
                    <h4>Scene Entities</h4>
                    <div class="bdrCont">
                        <div class="entityOutput">
                            <div id="entityTitle">
                                <p>Entities</p>
                                <table><tr>
                                    <th><h5>ID</h5></th>
                                    <th><h5 class="fr">Visibility</h5></th>
                                </tr></table>
                            </div>
                            <ul id="entityList"></ul>
                            <div id="weaponTitle">
                                <p>Weapons</p>
                                <table><tr>
                                    <th><h5>ID</h5></th>
                                    <th><h5 class="fr">Volume Visibility</h5></th>
                                </tr></table>
                            </div>
                            <ul id="weaponList"></ul>
                            <div id="sensorTitle">
                                <p>Sensors</p>
                                <table><tr>
                                    <th><h5>ID</h5></th>
                                    <th><h5 class="fr">Volume Visibility</h5></th>
                                </tr></table>
                            </div>
                            <ul id="sensorList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="leftHideToggle" class="hideToggle">
        <!--a href="javascript:;" class ="ht" id="lhToggleA" onclick="slideLeft();">&lt<br>&lt</a-->
        <a href="javascript:;" class="ht" id="lhToggleA" onclick="slideLeft();"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    </div>
</div>
<div id="trOne"></div>
<div id="trTwo"></div>
<div id="rightHide" style="right: -19.75em">
    <div id="rightHideToggle" class="hideToggle">
        <a href="javascript:;" class ="ht" id="rhToggleA" onclick="slideRight();"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
    </div>
    <div id="rightBar">
        <h4>Simulation Parameter</h4>
        <div class="entityOutput">
            <p id="noSelect">Click on an entity on the globe to view it's parameters.</p>
            <p id="multipleSelect">You have selected multiple entities from the scene. Select the intended entity from the list below.</p>
            <ul id="selections"></ul>
            <div><form id="picked" onsubmit="return false"><div id="pickedO" class="form-group"></div></form></div>
            <div id="entityControls">
                <button class="btn btn-default" type="button" onclick="entHandler('update')">Update</button>
                <!--<button class="btn btn-default" type="button" onclick="entHandler('move')">Move</button>
                <button class="btn btn-default" type="button" onclick="entHandler('delete')">Delete</button>-->
            </div>
        </div>
    </div>
</div>
<div id="saveImgDialog">
    <div class="bdrCont">
        <form id="save1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-md-offset-3">
                        <h4 class="open-dialog">Save Name</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="imgName" size="40" required/>
                    </div>
                </div>
                <div class="row">
                    <div id="imgSaveBtn" class="col-md-6">
                        <button type="button" class="open-dialog btn btn-default" onclick="screenshot();" style="color:#000;">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="open-dialog btn btn-default" onclick="document.getElementById('saveImgDialog').style.display = 'none';">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="save2" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-md-offset-3">
                        <h4 class="open-dialog" id="fReady">File Ready</h4>
                    </div>
                </div>
                <div class="row" id="saveBtnDiag">
                    <div class="col-md-6">
                        <a class="open-dialog btn btn-default" id="screenSave" onclick="document.getElementById('saveImgDialog').style.display = 'none';">Save</a>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="open-dialog btn btn-default" onclick="document.getElementById('saveImgDialog').style.display = 'none';">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="saving">
    <h4 class="open-dialog">Saving...</h4>
</div>
<div id="footer"></div>
<div id="logging"></div>

<script src="../public/javascripts/html2canvas.js" type="text/javascript"></script>
<script src="../public/javascripts/milstd2525/sm-bc.min.js" type="text/javascript"></script>
<script src="../public/javascripts/Cesium/Cesium.js" type="text/javascript"></script>
<script src="../public/javascripts/DOM.js" type="text/javascript"></script>
<script src="../public/javascripts/Acquire.js" type="text/javascript"></script>
<script src="../public/javascripts/radarChart.js"></script>
<script src="../public/javascripts/graph.js"></script>

</body>
</html>
