<div class="modal fade" id="birdsEyeModal" tabindex="-1" role="dialog" aria-labelledby="optimizeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
                <h4 class="modal-title" id="optimizeModalLabel">Run Simulation</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Sat Manager Algorithm</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="satAlgorithmRadio" id="sliced_JVC" value="SLICED_JVC" checked>Sliced JVC</input>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="satAlgorithmRadio" id="satGreedy" value="GREEDY">Greedy</input>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="satAlgorithmRadio" id="satP2P" value="P2P">P2P</input>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Battle Manager Algorithm</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="bmAlgorithmRadio" id="bmSliced_JVC" value="SLICED_JVC" checked>Sliced JVC</input>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="bmAlgorithmRadio" id="bmGreedy" value="GREEDY">Greedy</input>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="bmAlgorithmRadio" id="murty" value="MURTY">Murty</input>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="bmAlgorithmRadio" id="bmP2P" value="P2P">P2P</input>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="bmAlgorithmRadio" id="sliced_murty" value="SLICED_MURTY">Sliced Murty</input>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="model.startBirdsEye();" data-dismiss="modal">Run</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>