<div>
    <div id="leftBar">
        <h4>Scene Entities</h4>
        <div class="bdrCont">
            <div class="entityOutput">
                <div id="entityTitle">
                    <p>Entities</p>
                    <table><tr>
                        <th><h5>ID</h5></th>
                        <th><h5 class="fr">Visibility</h5></th>
                    </tr></table>
                </div>
                <ul id="entityList">
                    <li ng-repeat="item in toggle.entities">
                        <label for="{{item.id}}">{{item.name}}</label>
                        <div class="indicator" id="{{item.indId}}" ng-style="{backgroundColor: item.light}"></div>
                        <input ng-model="item.ov" ng-change="$parent.$parent.model[item.f](item.ov, item.id)" type="range" id="{{item.id}}" min="0" max="1" step="1">
                    </li>
                </ul>
                <div id="weaponTitle">
                    <p>Weapons</p>
                    <table><tr>
                        <th><h5>ID</h5></th>
                        <th><h5 class="fr">Volume Visibility</h5></th>
                    </tr></table>
                </div>
                <ul id="weaponList">
                    <li ng-repeat="item in toggle.weapons">
                        <label for="{{item.id}}">{{item.name}}</label>
                        <div class="indicator" id="{{item.indId}}" ng-style="{backgroundColor: item.light}"></div>
                        <input ng-model="item.ov" ng-change="$parent.$parent.model[item.f](item.ov, item.id)" type="range" id="{{item.id}}" min="0" max="1" step="1">
                    </li>
                </ul>
                <div id="sensorTitle">
                    <p>Sensors</p>
                    <table><tr>
                        <th><h5>ID</h5></th>
                        <th><h5 class="fr">Volume Visibility</h5></th>
                    </tr></table>
                </div>
                <ul id="sensorList">
                    <li ng-repeat="item in toggle.sensors">
                        <label for="{{item.id}}">{{item.name}}</label>
                        <div class="indicator" id="{{item.indId}}" ng-style="{backgroundColor: item.light}"></div>
                        <input ng-model="item.ov" ng-change="$parent.$parent.model[item.f](item.ov, item.id)" type="range" id="{{item.id}}" min="0" max="1" step="1">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>