<div class="tabpage" id="tabpage_1">
    <div id="leftBar">
        <h4>Scene Entities</h4>
        <div class="bdrCont">
            <div class="entityOutput">
                <div id="entityTitle">
                    <p>Entities</p>
                    <table><tr>
                        <th><h5>ID</h5></th>
                        <th><h5 class="fr">Visibility</h5></th>
                    </tr></table>
                </div>
                <ul id="entityList"></ul>
                <div id="weaponTitle">
                    <p>Weapons</p>
                    <table><tr>
                        <th><h5>ID</h5></th>
                        <th><h5 class="fr">Volume Visibility</h5></th>
                    </tr></table>
                </div>
                <ul id="weaponList"></ul>
                <div id="sensorTitle">
                    <p>Sensors</p>
                    <table><tr>
                        <th><h5>ID</h5></th>
                        <th><h5 class="fr">Volume Visibility</h5></th>
                    </tr></table>
                </div>
                <ul id="sensorList"></ul>
            </div>
        </div>
    </div>
</div>