<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="importDialogLabel">Import File</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <p>Select one or multiple files to load.</p>
                            <input type="file" id="files" name="files[]" size="40" multiple required/>
                            <div id="lFOutput">
                                <div id="fileNames"></div>
                                <div id="fileTypes"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="model.loadFile()">Import</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#files').on('change', function() {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var files = document.getElementById('files');
            var names = [];
            for (var i=0; i < files.files.length; i++) {
                names.push('<tr><td><p>', files.files.item(i).name, '</p></td></tr>');
            }
            $('#fileNames').html('<table><tr><th><h4>Files</h4></th></tr>' + names.join('') + '</table>');
        } else {
            alert('The File APIs are not fully supported by your browser.');
        }
    });
</script>