<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="openDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="settingsDialogLabel">Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-md-offset-3">
                        <h4 class="open-dialog">Select Back End Process</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <select>
                            <option value="acquire">Acquire</option>
                            <option value="vapor">Vapor</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="serveModel()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>